#grid-container {
    display: grid;
    border: 2px solid black;
    height: 480px;
    width: 480px;
    cursor: none;
}

#grid-container > * {
    border: 1px solid #505050;
    box-sizing: border-box;
    background: #F0F0F0;
}
/* Playing around with visibility while surrounded by all black squares - loses some of that classic EtchASketch "feel" though */
#grid-container > *:hover {
    border: 1px inset #505050;
}
